<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="runner.HomeRunner"/>
  <class name="runner.LoginRunner"/>
  <class name="runner.ProductDetailsRunner"/>
  <class name="runner.SearchFunctionality"/>
  <class name="runner.OrderRunner"/>
  <class name="runner.ShopRunner"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
